JIRA_BASE_URL=https://your-company.atlassian.net
JIRA_EMAIL=you@company.com
JIRA_API_TOKEN=your-api-token
JIRA_PROJECT_KEY=PROJ
GOOGLE_CHAT_WEBHOOK_URL=https://chat.googleapis.com/v1/spaces/xxx/messages?key=xxx&token=xxx
IN_PROGRESS_THRESHOLD_DAYS=3
JIRA_TEAM_LABEL=team#NICLDEVVIETNAM
JIRA_ACTIVE_SPRINT_ONLY=true
